<aside class="sidebar_right">
	<div class="title">
		<h3>Chiefs to follow</h3>
	</div>
	<ul class="list-chiefs">
		<% famous_chiefs.each do |user| %>
		<% presenter = ProfilePresenter.new(user) %>
		<li class="chief-stick">
			<%= link_to user_path(user, anchor: 'all') do %>
			<div class="image">
				<span class="profil" style="background-image:url(<%= user.image.url(:thumb) %>)"></span>
			</div>
			<% end %>
			<div class="stick-content">
				<div class="stick-infos">
					<h4><%= user.name %></h4>
					<span class="sub-infos"><%= presenter.cookbooks_count %> Cookbooks • <%= presenter.followers_count %> Followers</span>
				</div>
				<div class="stick-button">
					<% if user != @current_user %>
					<% if user.followed?(@current_user) %>
					<div class="fright">
						<%= button_to "Profil page", user_path(user, anchor:"all"), :method => :get, :class => "style Confirm big" %>
					</div>
					<% else %>
					<div class="fright">
						<%= button_to "Follow chief", user_follow_path(user, anchor:"all"), :class => "style Neutral big" %>
					</div>
					<% end %>
					<% else %>
					<%= button_to "Profil page", user_path(user, anchor:"all"), :method => :get, :class => "style Confirm big" %>
					<% end %>
				</div>
			</div>
		</li>
		<% end %>
	</ul>
</aside>