<%= form_for(recipe) do |f| %>
<% if recipe.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

  <ul>
    <% recipe.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="list_categorie">
  <h4>Name of the recipe</h4>
</div>
<div class="input_block">
  <%= f.text_field :name, placeholder:"Something yummy" %>
  <span class="count_limit">25/200</span>
</div>
<br>
<div class="list_categorie">
  <h4>Type of the recipe</h4>
</div>
<div class="filters_buttons">
  <form name="filters">
    <p class="checkbox">
      <%= radio_button_tag(:unit, "starter") %>
      <input name="unit" type="radio" id="Starter">
      <label for="Starter">Starter</label>
    </p>
    <p class="checkbox">
      <%= radio_button_tag(:unit, "main") %>
      <input name="unit" type="radio" id="Main">
      <label for="Main">Main</label>
    </p>
    <p class="checkbox">
      <%= radio_button_tag(:unit, "dessert") %>
      <input name="unit" type="radio" id="Dessert">
      <label for="Dessert">Dessert</label>
    </p>
  </form>
</div>
<br>
<div class="aside_block fleft gright">
  <div class="list_categorie">
    <h4>Recipe image</h4>
  </div>
  <div class="bloc_image">
    <div class="title_image center">
      <%= form.file_field :image %>
      <button class="style Neutral big">Chose image</button>
    </div>
  </div>
</div>
<ul class="ingredients with_aside">
  <div class="list_categorie">
    <h4>Description</h4>
  </div>
  <div class="textarea_block">
    <%= f.text_area :description, placeholder:"Let's explain how to cook it ..." %>
  </div>
</ul>
<% end %>
