<%= form_for(recipe) do |f| %>
<% if recipe.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

  <ul>
    <% recipe.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<section class="steps">
  <div id="stepA_section">
    <div class="steps_path">
      <ul class="steps">
        <li class="active">Step 1. Generic information</li>
        <li>  -  </li>
        <li>Step 2. Ingrediants</li>
      </ul>
    </div>
    <div class="list_categorie">
      <h4>Name of the recipe</h4>
    </div>
    <div class="input_block">
      <%= f.text_field :name, placeholder:"Something yummy" %>
      <span class="count_limit">25/200</span>
    </div>
    <br>
    <div class="list_categorie">
      <h4>Type of the recipe</h4>
    </div>
    <div class="filters_buttons">
      <form name="filters">
        <p class="checkbox">
          <%= radio_button_tag(:unit, "starter") %>
          <input name="unit" type="radio" id="Starter">
          <label for="Starter">Starter</label>
        </p>
        <p class="checkbox">
          <%= radio_button_tag(:unit, "main") %>
          <input name="unit" type="radio" id="Main">
          <label for="Main">Main</label>
        </p>
        <p class="checkbox">
          <%= radio_button_tag(:unit, "dessert") %>
          <input name="unit" type="radio" id="Dessert">
          <label for="Dessert">Dessert</label>
        </p>
      </form>
    </div>
    <br>
    <div class="aside_block fleft gright">
      <div class="list_categorie">
        <h4>Recipe image</h4>
      </div>
      <div class="bloc_image" style="background-image:url('<%= recipe.image %>')">
        <div class="title_image center">
          <%= f.file_field :image, name:"image", id:"image" %>
          <label for="image" class="style Neutral big">Chose image</label>
        </div>
      </div>
    </div>
    <ul class="ingredients with_aside">
      <div class="list_categorie">
        <h4>Description</h4>
      </div>
      <div class="textarea_block">
        <%= f.text_area :description, placeholder:"Let's explain how to cook it ..." %>
      </div>
    </ul>
    <div class="navigations_buttons aright">
      <a class="style Confirm big" onclick="switch_to('stepB', 'stepA')">Next</a>
    </div>
  </div>


  <div id="stepB_section">
    <div class="steps_path">
      <ul class="steps">
        <li>Step 1. Generic information</li>
        <li>  -  </li>
        <li class="active">Step 2. Ingrediants</li>
      </ul>
    </div>

    <div class="list_recipe_ingredients">
      <div class="list_categorie">
        <h4>Ingrediants (2)</h4>
      </div>
      <ul class="ingredients">
        <li>
          <div class="ingredient_image"></div>
          <div class="ingredient_informations">
            <p class="ingredient_quantity">3 kg</p>
            <p class="ingredient_name">Name of the ingredient</p>
          </div>
          <div class="hidden_buttons">
            <button class="style Neutral">Delete</button>
          </div>
        </li>
        <li>
          <div class="ingredient_image"></div>
          <div class="ingredient_informations">
            <p class="ingredient_quantity">3 kg</p>
            <p class="ingredient_name">Name of the ingredient</p>
          </div>
          <div class="hidden_buttons">
            <button class="style Neutral">Delete</button>
          </div>
        </li>
      </ul>
      <div class="navigations_buttons aright">
        <a class="style None big" onclick="switch_to('stepA', 'stepB')">Previous</a>
        <%= f.submit "Save", class:"style Confirm big" %>
      </div>
      <div class="list_categorie">
        <h4>Search for ingrediants</h4>
      </div>
      <div class="search_bar">
        <div class="search_container">
          <div class="search_icon"></div>
          <input class="search_field" placeholder="Search">
        </div>
      </div>
      <ul class="ingredients with_aside big">
        <li>
          <div class="ingredient_image"></div>
          <div class="ingredient_informations">
            <p class="ingredient_quantity">3 kg</p>
            <p class="ingredient_name">Name of the ingredient</p>
          </div>
          <div class="hidden_buttons">
            <button class="style Neutral">Add</button>
          </div>
        </li>
      </ul>
      <div class="aside_list">
        <div class="head_image"></div>
        <div class="aside_content">
          <h4>Tomato</h4>
          <div class="counter">
            <input type="number" value="320">
            <button class="style Confirm round fleft">-</button>
            <button class="style Confirm round fright">+</button>
          </div>
          <div class="filters_buttons">
            <form name="filters">
              <p class="checkbox">
                <input name="unit" type="radio" id="Gramme">
                <label for="Gramme">Gramme</label>
              </p>
              <p class="checkbox">
                <input name="unit" type="radio" id="Kilo">
                <label for="Kilo">Kilo</label>
              </p>
              <p class="checkbox">
                <input name="unit" type="radio" id="Unit">
                <label for="Unit">Unit</label>
              </p>
              <p class="checkbox">
                <input name="unit" type="radio" id="Liter">
                <label for="Liter">Liter</label>
              </p>
            </form>
          </div>
          <div class="button_actions">
            <button class="style Neutral big">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<% end %>
