<p id="notice"><%= notice %></p>

<p>
  <strong>Persons amount:</strong>
  <%= @recipe.persons_amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @recipe.image %>
</p>

<p>
  <strong>Type:</strong>
  <%= @recipe.type_menu %>
</p>

<p>
  <strong>Count:</strong>
  <%= @recipe.count %>
</p>

<p>
  <strong>Author:</strong>
  <%= @recipe.author_id %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
