<section class="main_content">
  <div class="section recipe_details">

    <div id="ingredients_section">

      <div class="list_recipe_ingredients">
        <ul class="ingredients">
          <% @foods.each do |food| %>
          <li>
            <div class="ingredient_image" style="background-image:url(<%= food.image.url(:thumb) %>)"></div>
            <div class="ingredient_informations">
              <p class="ingredient_name"> <%= food.name %> </p>
            </div>
            <%= link_to('Destroy', food_path(food), :class => 'fright', :method => :delete) %> 
            <%= link_to(' - Edit - ', edit_food_path(food), :class => 'fright') %>
            <%= link_to('Show', food, :class => 'fright') %>
          </div>
        </li>
        <% end %>
      </ul>
      <br><br>
      <%= link_to('New Food', new_food_path, :class => 'style Neutral big') %>
    </div>
  </div>
</div>
</section>