<% presenter = ProfilePresenter.new(cookbook.user) %>
<li class="card">
  <div class="big_image" style="background-image:url(<%= cookbook.image.url(:full) %>)">

    <div class="hover">
      <%= render "weeks/generateweek", title: " ", cookbook_id: cookbook.id, styles:"button_plan_the_week", remote: false %>
    </div>

  </div>
  <div class="informations">
    <div class="header">
      <h3><%= link_to cookbook.name, cookbook_path(cookbook, anchor: 'all') %></h3>
    </div>
    <div class="description">
      <p><%= truncate(cookbook.description, length: 90) %></p>
    </div>
    <div class="cookbook_infos">
      <p><%= cookbook.followers_count %> FOLLOWERS • <span class="chief_name"><%= link_to cookbook.user.name, user_path(cookbook.user, anchor: 'all') %></span></p>
    </div>
  </div>
</li>