<!-- MAIN CONTENT -->
<section class="main_content">
  <div class="section cookbook_details">
    <div class="image_header" style="background-image:url(<%= @cookbook.image.url(:banner) %>)"></div>
    <div class="title_simple">
      <h2 class="fleft"><%= @cookbook.name %></h2>
      <% if @cookbook.user != @current_user %>
      <% if @cookbook.followed?(@current_user) %>
      <div class="fright">
        <%= button_to "Unsubscribe", {:controller => :cookbooks,
          :action => 'unfollow', :cookbook => @cookbook }, :method => :delete, :class => "style Danger big" %>
        </div>
        <% else %>
        <div class="fright">
          <%= button_to "Subscribe", cookbook_follow_path(@cookbook), :class => "style Neutral big" %>
        </div>
        <% end %>
        <% end %>
        <button class="style Neutral big">Plan the Week</button>
      </div>
      <div class="subtitles">
        Playliste created by <span class="chief"><%= link_to(@cookbook.user.name, user_path(@cookbook.user)) %></span> • <%= @cookbook.recipes.count %> dishes
      </div>
      <div class="menu_filters">
        <ul class="filters"> <!-- Add fixed -->
          <li class="active">All Recipes</li>
          <li>Starters (0)</li>
          <li>Mains (0)</li>
          <li>Desserts (0)</li>
        </ul>
      </div>

      <% if @cookbook.user == @current_user && @cookbook.recipes.count < 1 %>

      <div class="annoucement">
        <h2>Start adding some recipes !!!</h2>
        <p class="submessage">
          You can either start from your favorites or <br>
          click on • • • to add them
        </p>
      </div>

      <% end %>

      <div class="list_recipes">
        <ul class="recipes">
          <% @cookbook.recipes.each do |recipe| %>
          <%= render "recipes/list", recipe: recipe %>
          <% end %>
        </ul>
      </div>

      <% if @cookbook.user == @current_user %>

      <div class="list_recipes">

        <div class="day">
          <% presenter = ProfilePresenter.new(@current_user) %>
          <h2>From your favorites (<%= presenter.mains.count %>)</h2>
          <ul class="recipes">

            <% presenter.mains.each do |recipe| %>

            <li>
              <div class="recipe_image" style="background-image:url(<%= recipe.image.url(:thumb) %>)"></div>
              <div class="recipe_informations">
                <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
                <button class="style Neutral big fright">Add</button>
                <span class="recipe_type">
                  <span class="icon <%= recipe.type_menu %>"></span>
                  <%= recipe.type_menu %>
                </span>
              </div>
            </li>

            <% end %>

          </ul>
        </div>
      </div>

      <% end %>

    </div>
  </section>
