<aside class="sidebar_left">
	<ul class="section">
		<li class="item active">
			<p><%= link_to 'Discover', root_path(user, anchor: 'overview') %></p>
		</li>
	</ul>
	<ul class="section">
		<li class="title">
			<h3>My Favorites</h3>
		</li>
		<li class="item">
			<span class="icon starter"></span>
			<p><%= link_to 'Starters', user_path(user, anchor: 'starters') %></p>
			<span class="counter"><%= presenter.starters_count %></span>
		</li>
		<li class="item">
			<span class="icon main"></span>
			<p><%= link_to 'Mains', user_path(user, anchor: 'mains') %></p>
			<span class="counter"><%= presenter.mains_count %></span>
		</li>
		<li class="item">
			<span class="icon dessert"></span>
			<p><%= link_to 'Desserts', user_path(user, anchor: 'desserts') %></p>
			<span class="counter"><%= presenter.desserts_count %></span>
		</li>
	</ul>
	<ul class="section">
		<li class="title">
			<h3>My Cookbooks</h3>
		</li>
		<% presenter.cookbooks_followed.each do |ref| %>
		<% cookbook = Cookbook.find(ref.followed_id) %>
		<li class="item">
			<p><%= link_to truncate(cookbook.name, length:16), cookbook_path(cookbook, anchor: 'all') %></p>
		</li>
		<% end %>
	</ul>
	<div class="bottom_options">
		<button class="style Neutral">
			<span class="icon plus"></span>
			<%= link_to 'Recipe', new_recipe_path(anchor: 'stepA') %>
		</button>
		<span class="separator"></span>
		<button class="style None">
			<span class="icon plus"></span>
			<%= link_to 'Cookbook', new_cookbook_path %>
		</button>
	</div>
</aside>